$flipkart_blue: rgb(40, 116, 240);
$faded_flipkart_blue: rgba(40, 116, 240, 0.2);
$background: rgb(240, 242, 245);
$gray: rgba(0, 0, 0, 0.3);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(62, 145, 65);
