@use '../../shared/scss/mixins.scss';

.product_listing {
    display: grid;
    overflow-y: auto;
    max-height: 100vh;
    grid-template-rows: max-content max-content repeat(3, 1fr);
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-areas:
        'nav nav nav nav'
        'filter nav_filter nav_filter nav_filter'
        'filter product product product'
        'filter product product product'
        'filter product product product';

    @include mixins.tablet {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'nav nav nav nav'
            'nav_filter nav_filter nav_filter nav_filter'
            'product product product product'
            'product product product product'
            'product product product product';
    }
}

.product_wrapper {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-area: product;
    height: max-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));

    @include mixins.tablet {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
        grid-column: 1 / -1;
        color: mixins.$gray;
    }
}
