@use '../../shared/scss/mixins.scss';

.nav_filters {
    position: sticky;
    top: 60px;
    grid-area: nav_filter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: mixins.$background;

    @include mixins.tablet {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    h1,
    p {
        padding: 1rem;

        @include mixins.tablet {
            display: none;
        }
    }

    svg {
        display: none;

        @include mixins.tablet {
            cursor: pointer;
            display: block;
        }
    }

    p {
        cursor: pointer;

        &.active {
            color: mixins.$flipkart_blue;
            border-bottom: 2px solid mixins.$flipkart_blue;
        }
    }
}

.sidebar_filters {
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    grid-area: filter;
    width: 300px;
    padding: 1rem;
    background-color: mixins.$white;

    @include mixins.tablet {
        position: fixed;
        padding: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        width: 50%;
        height: 60%;
        overflow-y: auto;
        margin: 0 auto;
        z-index: 4;
    }

    @include mixins.phone {
        width: 98%;
        top: 99.5%;
        transform: translate(-50%, -100%);
        height: 80vh;
    }

    .filter_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .secondary {
            border: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 10px;
            color: mixins.$black;
            padding: 0.2rem 1rem;
            background-color: mixins.$background;
        }
    }

    .filter_group {
        margin-top: 2rem;

        .filter_options {
            gap: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;

            .filter_option {
                cursor: pointer;
                border-radius: 10px;
                padding: 0.5rem 1rem;
                border: 2px solid mixins.$gray;
                transition: 0.4s all ease-in-out;

                &.selected {
                    font-weight: 600;
                    color: mixins.$flipkart_blue;
                    border: 2px solid mixins.$flipkart_blue;
                    background-color: mixins.$faded_flipkart_blue;

                    &:hover {
                        color: mixins.$flipkart_blue;
                        border: 2px solid mixins.$flipkart_blue;
                        background-color: mixins.$faded_flipkart_blue;
                    }
                }

                &:hover {
                    color: mixins.$flipkart_blue;
                    border: 2px solid transparent;
                    background-color: mixins.$faded_flipkart_blue;
                }
            }
        }
    }
}
