@use '../../shared/scss/mixins.scss';

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 60px;
    grid-area: nav;
    display: flex;
    padding: 0 16rem;
    align-items: center;
    background-color: mixins.$flipkart_blue;
    justify-content: space-between;

    @include mixins.tablet {
        padding: 0 4rem;
    }

    @include mixins.phone {
        padding: 0 0 0 1rem;
    }

    .logo {
        cursor: pointer;
        height: 20px;
    }

    .search_bar {
        flex: 1;
        height: 40px;
        display: flex;
        margin: 0 1rem;
        cursor: pointer;
        padding: 0 1rem;
        border-radius: 5px;
        align-items: center;
        background-color: mixins.$white;

        @include mixins.tablet {
            flex: 0;
            margin: 0;
            padding: 0.6rem;
            height: 50px;
            margin-left: auto;
            background-color: transparent;
        }

        input {
            flex: 1;
            border: none;
            outline: none;
            background: transparent;

            @include mixins.tablet {
                display: none;
            }
        }

        svg {
            stroke: mixins.$flipkart_blue;

            @include mixins.tablet {
                stroke: mixins.$white;
            }
        }
    }

    .action_buttons {
        button {
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;

            svg {
                fill: mixins.$white;
            }
        }
    }
}
